* {
    font-family: Montserrat, 'Open Sans', Arial, sans-serif;
}

a {
    text-decoration: underline;
    color: #99C1F1;
}
a:visited {
    color: #E19CE2;
}
a:active, a:visited:active {
    color: #E01B24;
}

body {
    margin: 0px;
    background-color: #1e2032;
    color: white;
}

.footer { text-align: center; color: white; }
.footer a { color: white;}

/* Link styles */

.icon-link img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 36px;
    height: 36px;

    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(345deg) brightness(107%) contrast(101%);
}

.icon-link div {
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.1s;
}

.icon-link:hover div, .main-link:hover {
    background-color: #01378f;
}

.link {
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    white-space: nowrap;
    color: white !important;

    transition-duration: 0.1s;

    border: none;
    border-radius: 5px;
}

.main-link, .portfolio-link {
    padding: 0.4em;
}

.main-link {
    font-size: 1.1rem;
    color: white;
    text-decoration: underline;
}

.portfolio-link {
    border: 2px solid #25bcff;

    font-size: 0.9rem;
    color: #25bcff !important;
}

.portfolio-link:hover {
    background-color: #25bcff;
    color: white !important;
}

/* Welcome section */

.welcome-section {
    background: url('resources/background.jpg'), rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-size: cover;
    height: 70vh;

    text-align: center;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-section h1 {
    margin-bottom: 0rem;
    font-size: 3rem;
}

.welcome-section h2 {
    margin-top: 0rem;
}

.welcome-section h3 {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

.main-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------ Portfolio section ------ */

.portfolio-wrapper {
    margin: 0px 10px;
}
.portfolio-wrapper h2 {
    text-align: center;
}

.portfolio-entry {
    display: flex;
    color: white;
    
}

.portfolio { max-width: 650px; margin: auto;}

.portfolio-entry h3 {
    margin-bottom: 0.5em;
}

hr {
    height: 3px;
    border: none;
    border-radius: 6px;
    background: #13141f;
  }

/* App image */
.app-img {
    width: 33.3vh;
    height: 33.3vh;
    object-fit: cover;
    align-self: center;
    border-radius: 5px;
}
.blur {
    filter: blur(2px);
    width: 105%;
    height: 105%;
    margin: -2px;
}
.blur-wrapper {
    overflow: hidden;
}

.portfolio-entry-info {
    padding: 0rem 0.8rem 0.4rem 0.8rem;
}

.portfolio-button-group {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-button {
    margin-bottom: 1rem;
    margin-right: 0.2rem;
}

@media (max-width: 480px) {
    .portfolio-entry {
        flex-direction: column;
    }

    .portfolio-entry .app-img {
        width: calc(100vw - 10px);
    }
}

@keyframes press {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}